[submodule "deps/redis3m"]
	path = deps/redis3m
	url = https://github.com/luca3m/redis3m.git
[submodule "deps/crow"]
	path = deps/crow
	url = https://github.com/ipkn/crow.git
[submodule "deps/deps/sundown"]
	path = deps/deps/sundown
	url = https://github.com/vmg/sundown.git
[submodule "deps/sundown"]
	path = deps/sundown
	url = https://github.com/vmg/sundown.git
